<div class="sidebar">
    <div class="sidebar-top">
        <span class="sidebar-title">MetropolitanDojo</span>
        <a class="sidebar-toggle"></a>
    </div>
    <div class="sidebar-content">
        <ul>
            <li id="menuAccueil">
                <a href="#"><i class="fa fa-dashboard"></i> <span>Accueil</span></a>
            </li>
        </ul>
    </div>
</div>