<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Fulleringer Agency">
        <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
        <meta http-equiv=”X-UA-Compatible” content=”IE=9”>
        <meta name="robots" content="noindex, nofollow">

        <title>{% block title %}Administration{% endblock %} | Administration Metropolitan Dojo</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mdadmin/css/framework-all.css') }}">
        {% block stylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="st-no-select scheme-dark navbar-dark">

        <div class="loader-back"><div class="loader2"></div></div>

        <div class="navbar">
            <a class="sidebar-toggle"></a>

            <img src="{{ asset('bundles/mdadmin/images/fr_logo.png') }}" class="fr-logo">

            <a class="second-navbar-toggle"></a>
            {{ render(controller("MDAdminBundle:Default:menuUser")) }}
        </div>

        <div class="content-container">
            {% include 'asideAdmin.html.twig' %}
            <div id="content-main">
                <div class="content">
                    <div class="page-header">
                        <div class="title">{% block titleh1 %}{% endblock %}</div>
                    </div>

                    {% include 'flashbagAdmin.html.twig' %}

                    <div class="content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/jquery.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/framework.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/jquery.slimscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/charts/jquery.sparkline.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/charts/flot/jquery.flot.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mdadmin/js/datatables.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
