<!DOCTYPE html>
<html lang="fr-FR">
    <head>

        <meta name="robots" content="index, follow">

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
        
        <title>{% block title %}Metropolitan Dojo{% endblock %}</title>
        
        <!-- SEO -->
        <meta name="description" content="{% block metaDescription %}{% endblock %}">

        <!-- CSS  -->
        {% stylesheets
            '@MDMainBundle/Resources/public/less/*'
            output='css/main.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

    </head>


    <body>
        
{#        {{ render(controller('MDMainBundle:Default:menuPrincipal')) }}#}
          
        {% block body %}{% endblock %}

{#        {{ render(controller('MDMainBundle:Default:footer')) }}#}


    <!-- JS -->
    {% javascripts
            '@MDMainBundle/Resources/public/js/lib/1.jquery.min.js'
            '@MDMainBundle/Resources/public/js/99.main.js'
            output='js/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>