<div class="navbar-options">
    <ul>
	<li>
	    <a>
		<img class="avatar" src="{{ asset('bundles/mdadmin/images/userblank.png') }}">
		<span>{{ app.user.username|capitalize }}</span>
	    </a>
	    <ul>
		<li><a target="_blank" href="#"><i class="fa fa-reply"></i> Voir le site</a></li>
		<li class="separator"></li>
		<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Me déconnecter</a></li>
	    </ul>
	</li>
    </ul>
</div>