@import url(fa/font-awesome.min.css);

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@-ms-viewport {
  width: auto !important;
}

html {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: auto;
	background-color: #fff;
}

body {
	position: relative;
	font-family: tahoma !important;
	font-size: 13px !important;
	padding: 0;
	margin: 0;
	background-color: #E8EAEE;
	overflow-x: hidden !important;
	min-height: 100%;
}

body.boxed {
	width: 90%;
	margin: auto;
}

* {
	outline: none;
}

a {
	cursor: pointer;
}

h1:not(.page-header):not(.modal-title),
h2:not(.page-header):not(.modal-title),
h3:not(.page-header):not(.modal-title),
h4:not(.page-header):not(.modal-title),
h5:not(.page-header):not(.modal-title),
h6:not(.page-header):not(.modal-title) {
	margin: 0 0 15px 0;
}

h1 { font-size: 33px }

h2 { font-size: 27px }

h3 { font-size: 23px }

h4 { font-size: 17px }

h5 { font-size: 13px }

h6 { font-size: 12px }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #444444;
}

a:not(.control) {
	color: #0B84FE;
}
a:not(.control):hover {
	color: #0B56A2;
	text-decoration: none;
}

.st-no-select {
     -webkit-user-select: none;
     -moz-user-select: none; 
     -ms-user-select: none;
     user-select: none;
}

body.controls-rounded .alert,
body.controls-rounded a.control, body.controls-rounded button.control, body.controls-rounded input[type='button'],
body.controls-rounded input:not([type='checkbox']):not([type='radio']):not([type='button']).control, body.controls-rounded textarea.control,
body.controls-rounded .list,
body.controls-rounded .note,
body.controls-rounded div.panel,
body.controls-rounded .pricing,
body.controls-rounded select.control,
body.controls-rounded .modal-content,
body.controls-rounded .sidebar-toggle,
body.controls-rounded .second-navbar-toggle {
	border-radius: 3px !important;
}
body.controls-rounded div.panel .panel-title {
	border-radius: 3px 3px 0 0;
}

.wd-fill { width: 100%; }
.wd-three-quarters { width: 75%; }
.wd-half { width: 50%; }
.wd-third { width: 33%; }
.wd-quarter { width: 25%; }

.h-fill { height: 100%; }
.h-three-quarters { height: 75%; }
.h-half { height: 50%; }
.h-third { height: 33%; }
.h-quarter { height: 25%; }

/* size styles */
.size-10 {
	width: 10px;
	height: 10px;
	line-height: 10px;
}
.size-20 {
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.size-30 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.size-40 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.size-50 {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.size-60 {
	width: 60px;
	height: 60px;
	line-height: 60px;
}
.size-70 {
	width: 70px;
	height: 70px;
	line-height: 70px;
}
.size-80 {
	width: 80px;
	height: 80px;
	line-height: 80px;
}
.size-90 {
	width: 90px;
	height: 90px;
	line-height: 90px;
}
.size-100 {
	width: 100px;
	height: 100px;
	line-height: 100px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.0, 1.0);
	transform: translate(-50%, -50%);
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

/* margins */
.mg-0 { margin: 0 !important; }
.mg-5 { margin: 5px !important; }
.mg-10 { margin: 10px !important; }
.mg-15 { margin: 15px !important; }
.mg-20 { margin: 20px !important; }
.mg-25 { margin: 25px !important; }
.mg-30 { margin: 30px !important; }
.mg-35 { margin: 35px !important; }
.mg-40 { margin: 40px !important; }
.mg-45 { margin: 45px !important; }
.mg-50 { margin: 50px !important; }
.mg-55 { margin: 55px !important; }
.mg-60 { margin: 60px !important; }
.mg-65 { margin: 65px !important; }
.mg-70 { margin: 70px !important; }
.mg-75 { margin: 75px !important; }
.mg-80 { margin: 80px !important; }
.mg-85 { margin: 85px !important; }
.mg-90 { margin: 90px !important; }
.mg-95 { margin: 95px !important; }
.mg-100 { margin: 100px !important; }
.mg-right-0 { margin-right: 0 !important; }
.mg-right-5 { margin-right: 5px !important; }
.mg-right-10 { margin-right: 10px !important; }
.mg-right-15 { margin-right: 15px !important; }
.mg-right-20 { margin-right: 20px !important; }
.mg-right-25 { margin-right: 25px !important; }
.mg-right-30 { margin-right: 30px !important; }
.mg-right-35 { margin-right: 35px !important; }
.mg-right-40 { margin-right: 40px !important; }
.mg-right-45 { margin-right: 45px !important; }
.mg-right-50 { margin-right: 50px !important; }
.mg-right-55 { margin-right: 55px !important; }
.mg-right-60 { margin-right: 60px !important; }
.mg-right-65 { margin-right: 65px !important; }
.mg-right-70 { margin-right: 70px !important; }
.mg-right-75 { margin-right: 75px !important; }
.mg-right-80 { margin-right: 80px !important; }
.mg-right-85 { margin-right: 85px !important; }
.mg-right-90 { margin-right: 90px !important; }
.mg-right-95 { margin-right: 95px !important; }
.mg-right-100 { margin-right: 100px !important; }
.mg-left-0 { margin-left: 0 !important; }
.mg-left-5 { margin-left: 5px !important; }
.mg-left-10 { margin-left: 10px !important; }
.mg-left-15 { margin-left: 15px !important; }
.mg-left-20 { margin-left: 20px !important; }
.mg-left-25 { margin-left: 25px !important; }
.mg-left-30 { margin-left: 30px !important; }
.mg-left-35 { margin-left: 35px !important; }
.mg-left-40 { margin-left: 40px !important; }
.mg-left-45 { margin-left: 45px !important; }
.mg-left-50 { margin-left: 50px !important; }
.mg-left-55 { margin-left: 55px !important; }
.mg-left-60 { margin-left: 60px !important; }
.mg-left-65 { margin-left: 65px !important; }
.mg-left-70 { margin-left: 70px !important; }
.mg-left-75 { margin-left: 75px !important; }
.mg-left-80 { margin-left: 80px !important; }
.mg-left-85 { margin-left: 85px !important; }
.mg-left-90 { margin-left: 90px !important; }
.mg-left-95 { margin-left: 95px !important; }
.mg-left-100 { margin-left: 100px !important; }
.mg-top-0 { margin-top: 0 !important; }
.mg-top-5 { margin-top: 5px !important; }
.mg-top-10 { margin-top: 10px !important; }
.mg-top-15 { margin-top: 15px !important; }
.mg-top-20 { margin-top: 20px !important; }
.mg-top-25 { margin-top: 25px !important; }
.mg-top-30 { margin-top: 30px !important; }
.mg-top-35 { margin-top: 35px !important; }
.mg-top-40 { margin-top: 40px !important; }
.mg-top-45 { margin-top: 45px !important; }
.mg-top-50 { margin-top: 50px !important; }
.mg-top-55 { margin-top: 55px !important; }
.mg-top-60 { margin-top: 60px !important; }
.mg-top-65 { margin-top: 65px !important; }
.mg-top-70 { margin-top: 70px !important; }
.mg-top-75 { margin-top: 75px !important; }
.mg-top-80 { margin-top: 80px !important; }
.mg-top-85 { margin-top: 85px !important; }
.mg-top-90 { margin-top: 90px !important; }
.mg-top-95 { margin-top: 95px !important; }
.mg-top-100 { margin-top: 100px !important; }
.mg-bottom-0 { margin-bottom: 0 !important; }
.mg-bottom-5 { margin-bottom: 5px !important; }
.mg-bottom-10 { margin-bottom: 10px !important; }
.mg-bottom-15 { margin-bottom: 15px !important; }
.mg-bottom-20 { margin-bottom: 20px !important; }
.mg-bottom-25 { margin-bottom: 25px !important; }
.mg-bottom-30 { margin-bottom: 30px !important; }
.mg-bottom-35 { margin-bottom: 35px !important; }
.mg-bottom-40 { margin-bottom: 40px !important; }
.mg-bottom-45 { margin-bottom: 45px !important; }
.mg-bottom-50 { margin-bottom: 50px !important; }
.mg-bottom-55 { margin-bottom: 55px !important; }
.mg-bottom-60 { margin-bottom: 60px !important; }
.mg-bottom-65 { margin-bottom: 65px !important; }
.mg-bottom-70 { margin-bottom: 70px !important; }
.mg-bottom-75 { margin-bottom: 75px !important; }
.mg-bottom-80 { margin-bottom: 80px !important; }
.mg-bottom-85 { margin-bottom: 85px !important; }
.mg-bottom-90 { margin-bottom: 90px !important; }
.mg-bottom-95 { margin-bottom: 95px !important; }
.mg-bottom-100 { margin-bottom: 100px !important; }

/* padding */
.pd-0 { padding: 0 !important; }
.pd-5 { padding: 5px !important; }
.pd-10 { padding: 10px !important; }
.pd-15 { padding: 15px !important; }
.pd-20 { padding: 20px !important; }
.pd-25 { padding: 25px !important; }
.pd-30 { padding: 30px !important; }
.pd-35 { padding: 35px !important; }
.pd-40 { padding: 40px !important; }
.pd-45 { padding: 45px !important; }
.pd-50 { padding: 50px !important; }
.pd-55 { padding: 55px !important; }
.pd-60 { padding: 60px !important; }
.pd-65 { padding: 65px !important; }
.pd-70 { padding: 70px !important; }
.pd-75 { padding: 75px !important; }
.pd-80 { padding: 80px !important; }
.pd-85 { padding: 85px !important; }
.pd-90 { padding: 90px !important; }
.pd-95 { padding: 95px !important; }
.pd-100 { padding: 100px !important; }
.pd-right-0 { padding-right: 0 !important; }
.pd-right-5 { padding-right: 5px !important; }
.pd-right-10 { padding-right: 10px !important; }
.pd-right-15 { padding-right: 15px !important; }
.pd-right-20 { padding-right: 20px !important; }
.pd-right-25 { padding-right: 25px !important; }
.pd-right-30 { padding-right: 30px !important; }
.pd-right-35 { padding-right: 35px !important; }
.pd-right-40 { padding-right: 40px !important; }
.pd-right-45 { padding-right: 45px !important; }
.pd-right-50 { padding-right: 50px !important; }
.pd-right-55 { padding-right: 55px !important; }
.pd-right-60 { padding-right: 60px !important; }
.pd-right-65 { padding-right: 65px !important; }
.pd-right-70 { padding-right: 70px !important; }
.pd-right-75 { padding-right: 75px !important; }
.pd-right-80 { padding-right: 80px !important; }
.pd-right-85 { padding-right: 85px !important; }
.pd-right-90 { padding-right: 90px !important; }
.pd-right-95 { padding-right: 95px !important; }
.pd-right-100 { padding-right: 100px !important; }
.pd-left-0 { padding-left: 0 !important; }
.pd-left-5 { padding-left: 5px !important; }
.pd-left-10 { padding-left: 10px !important; }
.pd-left-15 { padding-left: 15px !important; }
.pd-left-20 { padding-left: 20px !important; }
.pd-left-25 { padding-left: 25px !important; }
.pd-left-30 { padding-left: 30px !important; }
.pd-left-35 { padding-left: 35px !important; }
.pd-left-40 { padding-left: 40px !important; }
.pd-left-45 { padding-left: 45px !important; }
.pd-left-50 { padding-left: 50px !important; }
.pd-left-55 { padding-left: 55px !important; }
.pd-left-60 { padding-left: 60px !important; }
.pd-left-65 { padding-left: 65px !important; }
.pd-left-70 { padding-left: 70px !important; }
.pd-left-75 { padding-left: 75px !important; }
.pd-left-80 { padding-left: 80px !important; }
.pd-left-85 { padding-left: 85px !important; }
.pd-left-90 { padding-left: 90px !important; }
.pd-left-95 { padding-left: 95px !important; }
.pd-left-100 { padding-left: 100px !important; }
.pd-top-0 { padding-top: 0 !important; }
.pd-top-5 { padding-top: 5px !important; }
.pd-top-10 { padding-top: 10px !important; }
.pd-top-15 { padding-top: 15px !important; }
.pd-top-20 { padding-top: 20px !important; }
.pd-top-25 { padding-top: 25px !important; }
.pd-top-30 { padding-top: 30px !important; }
.pd-top-35 { padding-top: 35px !important; }
.pd-top-40 { padding-top: 40px !important; }
.pd-top-45 { padding-top: 45px !important; }
.pd-top-50 { padding-top: 50px !important; }
.pd-top-55 { padding-top: 55px !important; }
.pd-top-60 { padding-top: 60px !important; }
.pd-top-65 { padding-top: 65px !important; }
.pd-top-70 { padding-top: 70px !important; }
.pd-top-75 { padding-top: 75px !important; }
.pd-top-80 { padding-top: 80px !important; }
.pd-top-85 { padding-top: 85px !important; }
.pd-top-90 { padding-top: 90px !important; }
.pd-top-95 { padding-top: 95px !important; }
.pd-top-100 { padding-top: 100px !important; }
.pd-bottom-0 { padding-bottom: 0 !important; }
.pd-bottom-5 { padding-bottom: 5px !important; }
.pd-bottom-10 { padding-bottom: 10px !important; }
.pd-bottom-15 { padding-bottom: 15px !important; }
.pd-bottom-20 { padding-bottom: 20px !important; }
.pd-bottom-25 { padding-bottom: 25px !important; }
.pd-bottom-30 { padding-bottom: 30px !important; }
.pd-bottom-35 { padding-bottom: 35px !important; }
.pd-bottom-40 { padding-bottom: 40px !important; }
.pd-bottom-45 { padding-bottom: 45px !important; }
.pd-bottom-50 { padding-bottom: 50px !important; }
.pd-bottom-55 { padding-bottom: 55px !important; }
.pd-bottom-60 { padding-bottom: 60px !important; }
.pd-bottom-65 { padding-bottom: 65px !important; }
.pd-bottom-70 { padding-bottom: 70px !important; }
.pd-bottom-75 { padding-bottom: 75px !important; }
.pd-bottom-80 { padding-bottom: 80px !important; }
.pd-bottom-85 { padding-bottom: 85px !important; }
.pd-bottom-90 { padding-bottom: 90px !important; }
.pd-bottom-95 { padding-bottom: 95px !important; }
.pd-bottom-100 { padding-bottom: 100px !important; }

/* text styles */
.txt-center { text-align: center; }
.txt-right { text-align: right; }
.txt-left { text-align: left; }
.txt-upper { text-transform: uppercase; }
.txt-lower { text-transform: lowercase; }
.txt-capitalize { text-transform: capitalize; }
.txt-inset { text-shadow: 0 -1px 0 rgba(0,0,0,0.8); }
.txt-emboss { text-shadow: 0 1px 0 rgba(0,0,0,0.8); }
.txt-rotate-45 { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-90 { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-135 { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -o-transform: rotate(135deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-180 { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-225 { -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -o-transform: rotate(225deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-270 { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-315 { -webkit-transform: rotate(315deg); -moz-transform: rotate(315deg); -o-transform: rotate(315deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-45 { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-90 { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-135 { -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -o-transform: rotate(-135deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-180 { -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -o-transform: rotate(-180deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-225 { -webkit-transform: rotate(-225deg); -moz-transform: rotate(-225deg); -o-transform: rotate(-225deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-270 { -webkit-transform: rotate(-270deg); -moz-transform: rotate(-270deg); -o-transform: rotate(-270deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.txt-rotate-cc-315 { -webkit-transform: rotate(-315deg); -moz-transform: rotate(-315deg); -o-transform: rotate(-315deg); -ms-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }

.txt-primary {
    color: #337ab7 !important;
}
.txt-success {
    color: #5cb85c !important;
}
.txt-info {
    color: #5bc0de !important;
}
.txt-warning {
    color: #f0ad4e !important;
}
.txt-danger {
    color: #d9534f !important;
}
.txt-muted {
    color: inherit;
    opacity: .6;
}
.txt-bold {
	font-weight: bold !important;
}
.txt-italic {
	font-style: italic !important;
}
.txt-sm {
	font-size: 10px !important;
}
.txt-md {
	font-size: 20px !important;
}
.txt-lg {
	font-size: 30px !important;
}
.txt-xlg {
	font-size: 45px !important;
}

.txt-teal {
	color: #16a085 !important;
}

.txt-green {
	color: #27ae60 !important;
}

.txt-blue {
	color: #2980b9 !important;
}

.txt-lightblue {
	color: #03a9f4 !important;
}

.txt-cyan {
	color: #00bcd4 !important;
}

.txt-magenta {
	color: #8e44ad !important;
}

.txt-purple {
	color: #9c27b0 !important;
}

.txt-pink {
	color: #e91e63 !important;
}

.txt-dark {
	color: #2c3e50 !important;
}

.txt-yellow {
	color: #f1c40f !important;
}

.txt-orange {
	color: #d35400 !important;
}

.txt-red {
	color: #c0392b !important;
}

.txt-lightgrey {
	color: #bdc3c7 !important;
}

.txt-grey {
	color: #7f8c8d !important;
}

.disabled {
	opacity: 0.7 !important;
	cursor: default !important;
	pointer-events: none;
}

.block {
	display: block !important;
}
.inline-block {
	display: inline-block !important;
}

.rounded {
	border-radius: 3px !important;
}
.rounded-top {
	border-radius: 3px 3px 0 0;
}
.rounded-bottom {
	border-radius: 0 0 3px 3px;
}
.rounded-left {
	border-radius: 3px 0 0 3px;
}
.rounded-right {
	border-radius: 0 3px 3px 0;
}
.circle {
	border-radius: 50%;
}

.gradient:not(select) {
	background: rgba(255,255,255,0.31);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.31)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.31) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.gradient:not(.disabled):not(.no-hover):not(.hover-inverse):not(select):hover {
	background: rgba(255,255,255,0.41);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.41)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.41) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.gradient:not(.disabled):not(.no-hover):not(select):hover {
	background: rgba(0,0,0,0.21);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.21)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.glowOnFocus:focus {
	box-shadow: 0 0 5px #1488FE;
}

.glowOnFocus-teal:focus {
	box-shadow: 0 0 5px #16a085 !important;
}

.glowOnFocus-green:focus {
	box-shadow: 0 0 5px #27ae60 !important;
}

.glowOnFocus-blue:focus {
	box-shadow: 0 0 5px #2980b9 !important;
}

.glowOnFocus-lightblue:focus {
	box-shadow: 0 0 5px #03a9f4 !important;
}

.glowOnFocus-cyan:focus {
	box-shadow: 0 0 5px #00bcd4 !important;
}

.glowOnFocus-magenta:focus {
	box-shadow: 0 0 5px #8e44ad !important;
}

.glowOnFocus-purple:focus {
	box-shadow: 0 0 5px #9c27b0 !important;
}

.glowOnFocus-pink:focus {
	box-shadow: 0 0 5px #e91e63 !important;
}

.glowOnFocus-dark:focus {
	box-shadow: 0 0 5px #2c3e50 !important;
}

.glowOnFocus-yellow:focus {
	box-shadow: 0 0 5px #f1c40f !important;
}

.glowOnFocus-orange:focus {
	box-shadow: 0 0 5px #d35400 !important;
}

.glowOnFocus-red:focus {
	box-shadow: 0 0 5px #c0392b !important;
}

.glowOnFocus-lightgrey:focus {
	box-shadow: 0 0 5px #bdc3c7 !important;
}

.glowOnFocus-grey:focus {
	box-shadow: 0 0 5px #7f8c8d;
}

.glowOnFocus-white:focus {
	box-shadow: 0 0 5px #fff;
}

.right {
	border-radius: 0 4px 4px 0 !important;
	margin-left: -1px !important;
}
.left {
	border-radius: 4px 0 0 4px !important;
	margin-right: -1px !important;
}

.shadow {
	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
}
.light-shadow {
	box-shadow: 0 1px 10px rgba(0,0,0,0.07);
}

.3d {
	border-bottom: solid 4px rgba(0,0,0,0.4) !important;
}

.label {
	padding: .3em .6em .3em;
}

.no-border {
	border: none !important;
}

.default:not(.note):not(.alert) {
	background-color: #0B84FE !important;
}

select.control.default {
	background-color: #fff !important;
}

.teal:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #16a085 !important;
	color: #fff !important;
}

.green:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #27ae60 !important;
	color: #fff !important;
}

.blue:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #2980b9 !important;
	color: #fff !important;
}

.lightblue:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #03a9f4 !important;
	color: #fff !important;
}

.cyan:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #00bcd4 !important;
	color: #fff !important;
}

.magenta:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #8e44ad !important;
	color: #fff !important;
}

.purple:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #9c27b0 !important;
	color: #fff !important;
}

.pink:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #e91e63 !important;
	color: #fff !important;
}

.dark:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #2c3e50 !important;
	color: #fff !important;
}

.yellow:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #f1c40f !important;
	color: rgba(0,0,0,0.8) !important;
}

.orange:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #d35400 !important;
	color: #fff !important;
}

.red:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #c0392b !important;
	color: #fff !important;
}

.grey:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #7f8c8d !important;
}

.lightgrey:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #bdc3c7 !important;
	color: rgba(0,0,0,0.8) !important;
}

.white:not(select):not(input):not(.list):not(.progress):not(.progress-circle) {
	background-color: #fff !important;
	color: rgba(0,0,0,0.8) !important;
}
.white:not(.disabled):not(.no-hover):not(.panel):not(.alert):not(.note):not(.list):not(.progress):not(.progress-bar):not(.progress-circle):not(.pricing):not(.pricing-header):not(table):hover {
	background-color: #EDEDED !important;
}

.content-container {
	position: relative;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.content {
	position: relative;
}

#content-main {
	position: relative;
	width: calc(100% - 280px);
	height: auto;
	padding: 15px;
	float: left;
	overflow-y: auto;
	overflow-x: none;
	transition: all 0.1s ease;
}
#content-main.content-overlayed {
	position: fixed;
	height: calc(100% - 50px);
	top: 50px;
	left: 0;
	padding-left: 71px;
	width: 100%;
	float: none;
	z-index: 0;
}

@media (max-width: 700px) {
	#content-main {
		width: 100% !important;
	}
}

.page-header {
	display: block;
	width: calc(100% + 30px);
	padding: 10px 10px 10px 15px;
	margin: -15px 0px 15px -15px;
	background: #fff;
	font-size: 22px;
	font-weight: normal;
	border-bottom: solid thin rgba(0,0,0,0.12);
}
.page-header:after {
	content: "";
	display: table;
	clear: both;
}

.page-header.fixed {
	position: fixed;
	top: 65px;
	width: calc(100% - 240px);
	z-index: 2;
}

.page-header .title {
	float: left;
}

.page-header .title span {
	display: block;
	font-size: 14px;
	opacity: 0.8;
}

.page-header .breadcrumb {
	float: right;
	margin-top: 8px;
	margin-bottom: 0;
	font-size: 14px;
	background: transparent;
}

.control.error {
	border-color: #AA0000 !important;
}
.control.error:focus {
	box-shadow: 0 0 5px rgba(170,0,0,0.5) !important;
}

.control.success {
	border-color: #00B300 !important;
}
.control.success:focus {
	box-shadow: 0 0 5px rgba(0,179,0,0.5) !important;
}

.control.warning {
	border-color: #E8B51B !important;
}
.control.warning:focus {
	box-shadow: 0 0 5px rgba(232,181,27,0.5) !important;
}

.black {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 103;
}

.blur {
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px); 
	-o-filter: blur(1px); 
	-ms-filter: blur(1px); 
	filter: url(#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}

.dropdown-menu {
	margin: -4px 0 0 !important;
}

.caret {
	position: relative !important;
    border: none !important;
}
.caret:before {
	position: absolute;
	top: calc(50% - 11px);
	left: calc(50% - 5px);
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: bold;
	content: '\f107';
}

img.avatar {
	border-radius: 50%;
}

.contact {
	position: relative;
	padding: 10px;
	cursor: pointer;
	color: #333;
}
.contact:after {
	content: "";
	display: table;
	clear: both;
}
.contact:hover {
	background: rgba(0,0,0,0.07);
}

.contact:before {
	content: ' ';
	position: absolute;
	top: calc(50% - 4px);
	right: 15px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	z-index: 1;
}
.contact.online:before {
	background: #5cb85c;
}
.contact.offline:before {
	background: #C0C0C0;
}
.contact.inactive:before {
	background: #2980b9;
}

.contact .avatar {
	width: 35px;
	height: 35px;
	float: left;
}
.contact > p {
	float: left;
	margin: 5px 0 0 10px;
	font-weight: bold;
	line-height: 14px;
}
.contact > p > span {
	display: block;
	font-weight: normal;
	color: rgba(0,0,0,0.7);
}

.search-content {
	display: none;
	position: fixed;
	top: -62px;
	left: 0;
	width: 100%;
	padding: 10px 5px 5px 5px;
	background: #fff;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	text-align: center;
	z-index: 108;
}

.search-content .searh-input {
	position: relative;
	width: 50% !important;
	background-image: url(../images/search.png) !important;
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
	padding-left: 35px !important;
}

.search-content > span {
	float: right;
	color: #000;
	font-size: 20px;
	margin: 5px 15px 0 0;
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.1s ease;
}
.search-content > span:hover {
	opacity: 1;
}

li.separator {
	display: block;
	height: 1px;
	margin: 5px -10px;
	border-top: solid thin rgba(0,0,0,0.15);
}

li a .avatar {
	width: 25px;
	height: 25px;
	margin:-3px 5px 0 0;
}

.badge-float {
	position: absolute;
    top: 10px;
    left: 10px;
    font-weight: normal !important;
    font-size: 11px !important;
    padding: 2px 4px !important;
}

.badge-primary {
    background-color: #337ab7 !important;
}
.badge-success {
    background-color: #5cb85c !important;
}
.badge-info {
    background-color: #5bc0de !important;
}
.badge-warning {
    background-color: #f0ad4e !important;
}
.badge-danger {
    background-color: #d9534f !important;
}

.loader-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f0f0;
	z-index: 999999;
}

.loader {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background: #1F2C36;
	border-radius: 50%;

	-webkit-animation-name: loadingAnimation;
	animation-name: loadingAnimation;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
  	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes loadingAnimation {
	0%, 25%, 50%, 100% {
		-webkit-transition-timing-function: cubic-bezier(.7, 0, .175, 1);
		transition-timing-function: cubic-bezier(.7, 0, .175, 1);
	}
	0% , 100% {
		-webkit-transform: rotateY(0deg) rotateX(0deg);
		transform: rotateY(0deg) rotateX(0deg);
	}
	25% {
		-webkit-transform: rotateY(180deg) rotateX(0deg);
		transform: rotateY(180deg) rotateX(0deg);
	}
	50% {
		-webkit-transform: rotateY(180deg) rotateX(180deg);
		transform: rotateY(180deg) rotateX(180deg);
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.bold {
	font-weight: 500 !important;
}
.ebold {
	font-weight: 700 !important;
}

abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #bbb;
}

mark {
    background: #ff0 !important;
}

.icon-set .icon {
	padding: 10px;
	font-size: 12px;
	border-radius: 4px;
	border: solid thin transparent;
	cursor: default;
	transition: all 0.1s ease;
}
.icon-set .icon:hover {
	background: #fff;
	border-color: rgba(0,0,0,0.12);
	transform: scale(1.02);
}
.icon-set .icon:hover i, .icon-set .icon:hover .glyphicon {
	color: #000;
}

.icon-set .icon > span:not(.glyphicon) {
	float: left;
	margin: 3px 0 0 10px;
}

.icon-set .icon i, .icon-set .icon .glyphicon {
	font-size: 28px;
	float: left;
	color: #414141;
}

.no-padding {
	padding: 0 !important;
}

.error_page {
	position: fixed;
	width: 1000px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.error_page h1 {
	font-size: 150px !important;
	text-align: center;
	font-weight: bold;
}
.error_page h2 {
	line-height: 23px;
}
.error_page a.control {
	font-size: 16px;
	margin-top: 15px;
}

.form {
	width: 450px;
}

.countdown {
	text-align: center;
	margin-top: 30px;
	background: #0B84FE;
	padding: 20px 0;
	border-radius: 100px;
}

.countdown div {
	display: inline-block;
	margin-left: 10px;
	font-size: 70px;
	font-weight: normal; 
	text-align: center;
	margin: 0 15px; 
	padding: 0 30px;   
	color: #fff;  
	text-shadow: none;
	vertical-align: middle;  
}

.countdown div span {
    display: block;
    padding-top: 3px;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
}

.chart_container {
	position: relative;
	height: 400px;
	width: 569px;
}

.chart_tooltip {
	display: none;
	position: absolute;
	padding: 10px 15px;
	color: rgba(255,255,255,0.7);
	background: #1F2C36;
	border-radius: 5px;
}

.legend div {
	background: transparent !important;
}

.legend > div {
	background: rgba(255,255,255,0.4) !important;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	border: solid thin rgba(0,0,0,0.2);
}

.legend table tr {
	padding: 0 5px !important;
	height: 20px !important;
	cursor: default;
	box-sizing: content-box;
}
.legend table tr:hover {
	color: #000;
}

.legend table {
	border-spacing: 5px;
}

.legend tbody {
	display: block;
	margin: 5px 10px !important;
}
.legend tbody, .legend td {
	box-sizing: content-box;
}
.legend table tr td:first-child div {
	border-radius: 50%;
}
.legend table tr td:first-child > div {
	margin-right: 5px;
}

.faq {
	margin-bottom: 20px;
	padding-bottom: 30px;
	padding: 10px;
	border-bottom: dashed thin rgba(0,0,0,0.1);
}

.faq > p:first-child {
	font-size: 16px;
	font-weight: bold;
}
.faq > p:last-child {
	font-size: 13px;
	color: rgba(0,0,0,0.7);
}

.user-cover {
	position: relative;
	height: 150px;
	border-bottom: solid thin rgba(0,0,0,0.2);
	margin: -15px;
	margin-bottom: 15px;
}

.user-identity {
	position: absolute;
	bottom: 20px;
	left: 35px;
}

.user-profile-image {
	width: 70px;
	height: 70px;
	float: left;
	border: solid 5px rgba(255,255,255,0.5);
	border-radius: 50%;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.user-name {
	float: left;
	margin: 10px 0 0 15px;
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.user-name span:first-child {
	display: block;
	font-size: 25px;
}

.footer {
	margin-top: 30px;
	font-size: 14px;
	color: rgba(0,0,0,0.8);
}
.footer:after {
	content: "";
	display: table;
	clear: both;
}

/* DASHBOARD STATS */

.dash-stat {
	position: relative;
	height: 150px;
	margin-bottom: 15px;
	background: rgba(0,0,0,0.1);
	text-align: center;
	overflow: hidden;
	cursor: default;
	text-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.dash-stat:hover .dash-stat-more {
	transform: translate(0,0);
}
.dash-stat:hover .dash-stat-main {
	margin-top: 12px;
}
.dash-stat:hover .dash-stat-chart, .dash-stat:hover .dash-stat-icon {
	opacity: 1;
}

.dash-stat .dash-stat-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 2;
}

.dash-stat .dash-stat-icon {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	opacity: 0.6;
	font-size: 150px;
	color: rgba(0,0,0,0.2);
	transform: translate(-30%,-50%);
	transition: all 0.1s ease;
}

.dash-stat .dash-stat-chart {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 70%;
	z-index: 1;
	opacity: 0.6;
	transition: all 0.1s ease;
}
.dash-stat .dash-stat-chart canvas {
	width: calc(100% + 20px) !important;
	margin-left: -10px;
}

.dash-stat .dash-stat-more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 5px 5px 10px;
	text-align: left;
	cursor: pointer;
	transition: all 0.1s ease;
	transform: translate(0,100%);
}
.dash-stat .dash-stat-more:hover {
	background: rgba(0,0,0,0.2);
	opacity: 1;
}
.dash-stat .dash-stat-more i {
	float: right;
	margin: 3px 5px 0 5px;
	font-size: 12px;
}

.dash-stat .dash-stat-main {
	display: block;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0 5px 0;
	transition: all 0.1s ease;
}

.dash-stat .dash-stat-sub {
	opacity: 0.8;
}

#stat-productivity canvas {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.demo_settings {
	position: fixed;
	top: 105px;
	right: -250px;
	width: 250px;
	height: 400px;
	padding: 0 5px 0 15px;
	background: #F5F5F5;
	border: solid thin rgba(0,0,0,0.15);
	border-right: none;
	border-top: none;
	z-index: 10000;
}
#settings {
	padding-top: 10px;
}
.demo_settings .toggleBtn {
	position: absolute;
	top: 0;
	left: -42px;
	color: #fff !important;
	font-size: 20px;
	border-radius: 0;
	background: #1F2C36 !important;
	border-right: none;
}
.demo_settings .toggleBtn:hover {
	background: #151F26 !important;
}
.demo_settings .toggleBtn i {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.demo_settings .demoHeader {
	height: 42px;
	padding: 12px 12px 0 10px;
	background: #1F2C36;
	margin: 0 -5px 0 -15px;
	color: #fff;
	font-weight: bold;
}

.demo_settings .slimScrollDiv {
	height: calc(100% - 42px) !important;
}

.demo_color {
	border: solid thin rgba(0,0,0,0.1);
	cursor: pointer;
	margin: 0 5px 5px 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 -2px 4px rgba(0,0,0,0.1);
	text-align: center;
	color: #333 !important;
}
.demo_color:hover {
	transform: scale(1.2);
}

.demo_color.selected {
	border-color: rgba(0,0,0,0.8);
}

.color-preview {
	position: relative;
	width: 80px;
	height: 60px;
	overflow: hidden;
	float: left;
	background: #fff;
	padding: 5px 7px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

body.scheme-teal .color-preview {
	background: #16a085;
}
body.scheme-green .color-preview {
	background: #27ae60;
}
body.scheme-blue .color-preview {
	background: #2980b9;
}

body.scheme-lightblue .color-preview {
	background: #03a9f4;
}

body.scheme-cyan .color-preview {
	background: #00bcd4;
}

body.scheme-purple .color-preview {
	background: #9c27b0;
}

body.scheme-pink .color-preview {
	background: #e91e63;
}

body.scheme-magenta .color-preview {
	background: #8e44ad;
}
body.scheme-dark .color-preview {
	background: #2c3e50;
}
body.scheme-yellow .color-preview {
	background: #f1c40f;
}
body.scheme-orange .color-preview {
	background: #d35400;
}
body.scheme-red .color-preview {
	background: #c0392b;
}
body.scheme-lightgrey .color-preview {
	background: #bdc3c7;
	color: #333;
}
body.scheme-grey .color-preview {
	background: #7f8c8d;
}
body.scheme-white .color-preview {
	background: #fff;
	color: #333;
}

@media (max-width: 1000px) {
	.error_page {
		width: calc(100% - 20px);
	}
}

@media (max-width: 800px) {
	.error_page h1 {
		font-size: 100px !important;
	}
}

@media (max-width: 470px) {
	.form {
		position: relative;
		min-width: 320px;
		width: calc(100% - 20px);
	}

@media (max-width: 435px) {
	.form .sub {
		display: block;
		float: left !important;
		margin-bottom: 10px;
	}
}