.note {
	position: relative;
	padding: 15px 20px;
	background: #CBE2C1;
	border: solid thin rgba(0,0,0,0.03);
	border-left: solid 6px #B2CFA6;
	margin: 0 0 10px 0;
	color: rgba(0,0,0,0.6);
	transition: all 0.3s ease;
}

.note a, .note a:link, .note a:visited, .note a:active {
	color: rgba(0,0,0,0.6);
	font-weight: bold;
	text-decoration: underline;
}
.note a:hover { color: rgba(0,0,0,0.7); }

.note .close-note {
	position: absolute;
	top: 3px;
	color: rgba(0,0,0,0.5);
	cursor: pointer;
	font-weight: normal;
	font-size: 20px;
	opacity: 0.5;
	transition: all 0.1s ease;
}
.note .close-note:hover {
	opacity: 1;
}

.note.hover:hover {
	opacity: 0.8;
}

.note.white-bg {
	background: #FFF;
	border-color: rgba(0,0,0,0.2);
}

.note.default {
	background: #EBEBEB;
	border-left-color: #C7C7C7;
}
.note.error {
	background: #E4C8C8;
	border-left-color: #CFA9A9;
}
.note.warning {
	background: #E8E3C9;
	border-left-color: #CFC9AB;
}
.note.info {
	background: #BFDEED;
	border-left-color: #9EC2D3;
}

body.scheme-teal .note.primary {
	background: #16a085;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-green .note.primary {
	background: #27ae60;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-blue .note.primary {
	background: #2980b9;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-lightblue .note.primary {
	background: #03a9f4;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-cyan .note.primary {
	background: #00bcd4;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-magenta .note.primary {
	background: #8e44ad;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-purple .note.primary {
	background: #9c27b0;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-pink .note.primary {
	background: #e91e63;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-dark .note.primary {
	background: #2c3e50;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-yellow .note.primary {
	background: #f1c40f;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-orange .note.primary {
	background: #d35400;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-red .note.primary {
	background: #c0392b;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-lightgrey .note.primary {
	background: #bdc3c7;
	color: rgba(0,0,0,0.8);
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-grey .note.primary {
	background: #7f8c8d;
	border-left-color: rgba(0,0,0,0.15);
}
body.scheme-white .note.primary {
	background: #fff;
	color: rgba(0,0,0,0.8);
	border-left-color: rgba(0,0,0,0.15);
}

.note h1, .note h2, .note h3, .note h4, .note h5, .note h6 {
	font-weight: normal;
	padding-bottom: 5px;
	color: rgba(0,0,0,0.7);
	margin-top: 0;
	border-bottom: dashed thin rgba(0,0,0,0.1);
}