.pricing {
	background: #fff;
	border: solid thin rgba(0,0,0,0.15);
	box-shadow: 5px 5px 0px rgba(0,0,0,0.1);
	overflow: hidden;
}

.pricing.active {
	transform: scale(1.1);
}

.pricing .pricing-header {
	position: relative;
	padding: 20px;
	text-align: center;
	background: #2C3B48;
	color: #fff;
}

.pricing.teal .pricing-header {
	background: #16a085;
}

.pricing.green .pricing-header {
	background: #27ae60;
}

.pricing.blue .pricing-header {
	background: #2980b9;
}

.pricing.lightblue .pricing-header {
	background: #03a9f4;
}

.pricing.cyan .pricing-header {
	background: #00bcd4;
}

.pricing.magenta .pricing-header {
	background: #8e44ad;
}

.pricing.purple .pricing-header {
	background: #9c27b0;
}

.pricing.pink .pricing-header {
	background: #e91e63;
}

.pricing.dark .pricing-header {
	background: #2c3e50;
}

.pricing.yellow .pricing-header {
	background: #f1c40f;
}

.pricing.orange .pricing-header {
	background: #d35400;
}

.pricing.red .pricing-header {
	background: #c0392b;
}

.pricing.lightgrey .pricing-header {
	background: #bdc3c7;
}

.pricing.grey .pricing-header {
	background: #7f8c8d;
}

.pricing.white .pricing-header {
	background: #fff;
}


body.scheme-teal .pricing.primary .pricing-header {
	background: #16a085;
}
body.scheme-green .pricing.primary .pricing-header {
	background: #27ae60;
}
body.scheme-blue .pricing.primary .pricing-header {
	background: #2980b9;
}
body.scheme-lightblue .pricing.primary .pricing-header {
	background: #03a9f4;
}
body.scheme-cyan .pricing.primary .pricing-header {
	background: #00bcd4;
}
body.scheme-magenta .pricing.primary .pricing-header {
	background: #8e44ad;
}
body.scheme-purple .pricing.primary .pricing-header {
	background: #9c27b0;
}
body.scheme-pink .pricing.primary .pricing-header {
	background: #e91e63;
}
body.scheme-dark .pricing.primary .pricing-header {
	background: #2c3e50;
}
body.scheme-yellow .pricing.primary .pricing-header {
	background: #f1c40f;
}
body.scheme-orange .pricing.primary .pricing-header {
	background: #d35400;
}
body.scheme-red .pricing.primary .pricing-header {
	background: #c0392b;
}
body.scheme-lightgrey .pricing.primary .pricing-header {
	background: #bdc3c7;
}
body.scheme-grey .pricing.primary .pricing-header {
	background: #7f8c8d;
}
body.scheme-white .pricing.primary .pricing-header {
	background: #fff;
}


.pricing .pricing-header p:first-child {
	color: rgba(255,255,255,0.8);
	font-size: 20px;
}
.pricing .pricing-header p:nth-child(2) {
	position: relative;
	display: inline-block;
	font-size: 60px;
	font-weight: 100;
}
.pricing .pricing-header p:nth-child(2) span:first-child {
	position: absolute;
	top: 12px;
	left: 0;
	font-size: 20px;
	transform: translate(calc(-100% - 5px),0);
	color: rgba(255,255,255,0.7);
}
.pricing .pricing-header p:nth-child(2) span:last-child {
	position: absolute;
	bottom: 12px;
	right: 0;
	font-size: 20px;
	transform: translate(calc(100% + 3px),0);
	color: rgba(255,255,255,0.7);
}

.pricing.lightgrey .pricing-header span, .pricing.white .pricing-header span, .pricing.yellow .pricing-header span
.pricing .pricing-header.lightgrey span, .pricing .pricing-header.white span, .pricing .pricing-header.yellow span
.pricing.lightgrey .pricing-header p, .pricing.white .pricing-header p, .pricing.yellow .pricing-header p,
.pricing .pricing-header.lightgrey p, .pricing .pricing-header.white p, .pricing .pricing-header.yellow p,
.pricing .pricing-header.cyan p, .pricing .pricing-header.cyan p, .pricing .pricing-header.cyan p {
	color: rgba(0,0,0,0.8) !important;
}

.pricing .pricing-content {
	margin: 15px 0;
}

.pricing .pricing-content p {
	padding: 10px;
	text-align: center;
	margin: 0 !important;
}

.pricing .pricing-content p:nth-child(odd) {
	background: rgba(0,0,0,0.05);
}

.pricing-footer {
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
}